<h2>Edit User</h2>
<hr />

<div class="container">       
        <div class="row">
          <div class="col-md-6">
            <form (ngSubmit)="updateUser(home.id, home)" #bookForm="ngForm">
              <div class="form-group" style = "visibility:hidden;">
                <label for="id">ID</label>
                <input type="number" class="form-control" [(ngModel)]="home.id" name="id" required>
              </div>
              <div class="form-group">
                <label for="name">Title</label>
                <input type="text" class="form-control" [(ngModel)]="home.title" name="title" required>
              </div>
              <div class="form-group">
                <label for="address">Body</label>
                <input type="text" class="form-control" [(ngModel)]="home.body" name="body" required>
              </div>
                            
              <div class="form-group">
                <button type="submit" class="btn btn-success" [disabled]="!bookForm.form.valid">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>